<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/resultado" method="POST">
        Calculadora:<br>
        <input required type="number" name="numero1"><br><br>
        Somar <input required type="radio" name="conta" value="soma"><br>
        Subtrair <input required type="radio" name="conta" value="sub"><br>
        Divisão <input required type="radio" name="conta" value="div"><br>
        Multiplicar <input required type="radio" name="conta" value="mult"><br>
        <br><br>
        <input required type="number" name="numero2">
        <input type="submit" value="Somar">
        <br>
        <br>
    </form>



</body>
</html>